# Regular Expressions in Excel Files: Filtering Employee Data

In [7]:
import re

In [2]:
import openpyxl

In [3]:
#Replace with your own path below
workbook = openpyxl.load_workbook(r"Employees.xlsx")

In [4]:
 
#Referencing the EmployeeData sheet
sheet = workbook["EmployeeData"]

In [5]:

 
#Creating the empty list to store the data
data = []
 
#Iterating over sheet.values and appending the data as strings
for row in sheet.values:
    a, b, c, d, e, f, g = row
    data.append("{};{};{};{};{};{};{}".format(a, b, c, d, e, f, g))
 
#Joining the strings in the data list using the \n as a delimiter
employees = "\n".join(data)
print(employees)

ID;FirstName;LastName;Department;Phone;Address;Salary
1;Luke;Phillip;Sales;5564567890;1st Address, Miami;25000
2;Jack;Darren;IT;3444567891;2nd Address, Chicago;33600
3;Ken;Wood;IT;5524567892;3rd Address, LA;41150
4;John;Wilson;Marketing;1124567893;4th Address, Chicago;50000
5;Emily;Larson;Marketing;1234567894;5th Address, Miami;48700
6;Anna;Sullivan;Sales;3324567895;6th Address, Miami;29000
7;Richard;Smith;Logistics;6894567896;7th Address, New York;66000
8;Ronnie;Moore;Sales;8974567897;8th Address, New York;87000
9;Andrew;Drake;IT;6654567898;9th Address, Las Vegas;66900
10;Wayne;Barker;Logistics;9884567899;10th Address, Las Vegas;89000
11;Gina;Baker;Logistics;1154567900;11th Address, Chicago;31800
12;Andy;Williams;HR;1094567901;12th Address, Chicago;65500
13;Jack;Wood;Logistics;2044567902;13th Address, New York;90300
14;Jane;Phills;HR;1664567903;14th Address, New York;77700
15;Ron;Johnson;Sales;1664567904;15th Address, New York;26250
16;Jackie;Stanley;Sales;6894567905;16th Address, Las Vegas;38400
17;Charles;Meyer;Marketing;1154567906;17th Address, Las Vegas;47000
18;Charlie;Smith;Marketing;9884567907;18th Address, Las Vegas;49000
19;Wayne;Andrews;Sales;3324567908;19th Address, LA;52000
20;Adrian;Harrison;IT;1234567909;20th Address, LA;21160

['31800']

In [6]:
# Filtering the Data

In [10]:
# Last Name of the all employees whose salary Greater than 24000 and less than 30000

s1 = re.findall(r"\d{1,};.+?;(.+?);.+;2[4-9]\d{3}", employees)
s1

['Phillip', 'Sullivan', 'Johnson']

In [14]:
# All the employees who work in I.T or Marketing and Last name less than 5 character

s2 = re.findall(r"\d{1,};.+?;(\w{1,5});(?:IT|Marketing);.+;\d{5}", employees)

s2

['Wood', 'Drake', 'Meyer', 'Smith']

In [16]:
# First name starts with P or asub sequent letter in english and
# Phone number starts with even digit ends with odd

s3 = re.findall(r"\d{1,};([P-Z].+?);.+;[2468]\d{8}[13579];.+;\d{5}", employees)

s3

['Ronnie']

In [18]:
# EMployees who are located in New york and working in sales department

s4 = re.findall(r"\d{1,};(.+?);(.+?);Sales;(.+?);.+New York;\d{5}", employees)

s4

[('Ronnie', 'Moore', '8974567897'), ('Ron', 'Johnson', '1664567904')]

In [20]:
# Match any employee thier adress is not from miami

s5 = re.findall(r"\d{1,};.+?;(.+?);.+?;.+?;.+, (?!Miami)", employees) # negative look ahead asertion

s5

['Darren',
 'Wood',
 'Wilson',
 'Smith',
 'Moore',
 'Drake',
 'Barker',
 'Baker',
 'Williams',
 'Wood',
 'Phills',
 'Johnson',
 'Stanley',
 'Meyer',
 'Smith',
 'Andrews',
 'Harrison']

In [21]:
# Last name of employee who work in 2 letter dept who earn between 30000 and 60000

s6 = re.findall(r'\w{1,};.+?;(.+?);(?:\w{2};.+;[3-5]\d{4})',employees) 

s6

In [26]:
# All the employees first and last name whose phone number ends with 2 consecutive odd numbers


s7 = re.findall(r'\d{1,};(\w+?);(\w+?);.+?;\d{8}[13579]{2};.+;\d{5}',employees)

s7

[('Jack', 'Darren'),
 ('John', 'Wilson'),
 ('Anna', 'Sullivan'),
 ('Ronnie', 'Moore'),
 ('Wayne', 'Barker')]

In [29]:
#All the employees first name whose last name starts with D and works in IT department 

s8 = re.findall(r'\d{1,};(\w+?);(?:D\w+?);IT;.+;\d{5}',employees)

s8

['Jack', 'Andrew']

In [36]:
# Salaries of all the employees residing in chicago or LA works in Logistic department

s9 = re.findall(r'\d{1,};.+?;.+?;Logistics;\d{1,};(?:.+? Chicago|.+? LA);(\d{5})',employees)
s9

['31800']

In [37]:
# Last name and phone number of employee who located outside Las vegas

s10 = re.findall(r"\d{1,};.+?;(.+?);.+?;(.+?);.+, (?!Las Vegas)", employees)

s10

[('Phillip', '5564567890'),
 ('Darren', '3444567891'),
 ('Wood', '5524567892'),
 ('Wilson', '1124567893'),
 ('Larson', '1234567894'),
 ('Sullivan', '3324567895'),
 ('Smith', '6894567896'),
 ('Moore', '8974567897'),
 ('Baker', '1154567900'),
 ('Williams', '1094567901'),
 ('Wood', '2044567902'),
 ('Phills', '1664567903'),
 ('Johnson', '1664567904'),
 ('Andrews', '3324567908'),
 ('Harrison', '1234567909')]