In [1]:
import re

In [7]:
f = open(r'phone.txt')

In [8]:
string = f.read()

In [10]:
print(string)

Zion Martinez	(631) 472-4834
Moriah Velez	(201) 684-8134
Jenna Peterson	(355) 554-9561
Ayaan Novak	(812) 883-7304
Elena Sosa	(504) 478-1208
Taniyah Lucas	(949) 304-4647
Maritza Ramos	(295) 931-1193
Maryjane Velazquez	(409) 441-2612
Oliver Cooper	(917) 965-9749
Max Bridges	(665) 245-0683
Craig Sutton	(783) 281-6115
Emilie Good	(608) 628-4088
Alexis Rowe	(357) 540-2991
Maxwell Rose	(366) 809-5605
Davin Carroll	(508) 291-1622
Riya Foster	(461) 532-0795
Kymani Pena	(366) 683-3252
Josie Lloyd	(676) 509-5720
Amy Fowler	(630) 821-5787
Zion Strickland	(443) 372-0040
Jermaine Roy	(576) 876-2490
Sasha Duncan	(379) 596-5662
Guillermo Pacheco	(922) 634-5795
Mohammad Tapia	(969) 831-7093
Samir Mcdonald	(546) 420-0881
Sidney Mcdaniel	(783) 705-9254
Cameron Terry	(540) 878-9323
Kyla Waters	(319) 523-8400
Paloma Tyler	(709) 788-9820
Carolyn Peck	(878) 309-5141
Aliana Murillo	(681) 897-9813
Harold Stark	(995) 575-6794
Tomas Acevedo	(526) 889-3684
Jayla Whitney	(790) 295-4491
Linda Casey	(596) 279-2188
Shelby Gutierrez	(266) 441-0506
Scarlett Pugh	(205) 887-2552
Tobias Joseph	(894) 486-4422
Meadow Pennington	(789) 483-7632
Jeremy Tucker	(768) 454-3347
Giovani Hill	(859) 512-3285
Lorelei Chase	(527) 510-6364
Anabella Wolf	(370) 917-1457
Dominick Cobb	(831) 874-8695
Ismael Montoya	(397) 258-5867
Charles Santiago	(804) 306-7622
Eva Galvan	(836) 732-4963
Branden Cantu	(862) 408-5783
Patricia Dodson	(685) 849-8192
Marina Chan	(600) 464-2106

In [11]:
# Structure

# Each entry is on seperate line
# Each line starts with first and last name of the person
# Followed by tab
# followed by Area codre inside the bracket
# then space and Phone number

In [19]:
# All the Contact name

re.findall(r'\w[A-Za-z]+\s\w[A-Za-z]+',string)

['Zion Martinez',
 'Moriah Velez',
 'Jenna Peterson',
 'Ayaan Novak',
 'Elena Sosa',
 'Taniyah Lucas',
 'Maritza Ramos',
 'Maryjane Velazquez',
 'Oliver Cooper',
 'Max Bridges',
 'Craig Sutton',
 'Emilie Good',
 'Alexis Rowe',
 'Maxwell Rose',
 'Davin Carroll',
 'Riya Foster',
 'Kymani Pena',
 'Josie Lloyd',
 'Amy Fowler',
 'Zion Strickland',
 'Jermaine Roy',
 'Sasha Duncan',
 'Guillermo Pacheco',
 'Mohammad Tapia',
 'Samir Mcdonald',
 'Sidney Mcdaniel',
 'Cameron Terry',
 'Kyla Waters',
 'Paloma Tyler',
 'Carolyn Peck',
 'Aliana Murillo',
 'Harold Stark',
 'Tomas Acevedo',
 'Jayla Whitney',
 'Linda Casey',
 'Shelby Gutierrez',
 'Scarlett Pugh',
 'Tobias Joseph',
 'Meadow Pennington',
 'Jeremy Tucker',
 'Giovani Hill',
 'Lorelei Chase',
 'Anabella Wolf',
 'Dominick Cobb',
 'Ismael Montoya',
 'Charles Santiago',
 'Eva Galvan',
 'Branden Cantu',
 'Patricia Dodson',
 'Marina Chan']

In [30]:
# Area code
re.findall(r'(?:\()(\d{3})(?:\))',string)

['631',
 '201',
 '355',
 '812',
 '504',
 '949',
 '295',
 '409',
 '917',
 '665',
 '783',
 '608',
 '357',
 '366',
 '508',
 '461',
 '366',
 '676',
 '630',
 '443',
 '576',
 '379',
 '922',
 '969',
 '546',
 '783',
 '540',
 '319',
 '709',
 '878',
 '681',
 '995',
 '526',
 '790',
 '596',
 '266',
 '205',
 '894',
 '789',
 '768',
 '859',
 '527',
 '370',
 '831',
 '397',
 '804',
 '836',
 '862',
 '685',
 '600']

In [33]:
# Phone number
re.findall(r'\d{3}-\d{4}',string)

['472-4834',
 '684-8134',
 '554-9561',
 '883-7304',
 '478-1208',
 '304-4647',
 '931-1193',
 '441-2612',
 '965-9749',
 '245-0683',
 '281-6115',
 '628-4088',
 '540-2991',
 '809-5605',
 '291-1622',
 '532-0795',
 '683-3252',
 '509-5720',
 '821-5787',
 '372-0040',
 '876-2490',
 '596-5662',
 '634-5795',
 '831-7093',
 '420-0881',
 '705-9254',
 '878-9323',
 '523-8400',
 '788-9820',
 '309-5141',
 '897-9813',
 '575-6794',
 '889-3684',
 '295-4491',
 '279-2188',
 '441-0506',
 '887-2552',
 '486-4422',
 '483-7632',
 '454-3347',
 '512-3285',
 '510-6364',
 '917-1457',
 '874-8695',
 '258-5867',
 '306-7622',
 '732-4963',
 '408-5783',
 '849-8192',
 '464-2106']

In [37]:
# Last name of the person and phone number whose area code ends with 0

re.findall(r'.+? (.+?)\t\(\d\d0\)\s(\d{3}-\d{4})',string)

[('Fowler', '821-5787'),
 ('Terry', '878-9323'),
 ('Whitney', '295-4491'),
 ('Wolf', '917-1457'),
 ('Chan', '464-2106')]

In [41]:
# Get area code of each phone number that ends with 7

re.findall(r'\((\d{3})\)\s\d{3}-\d{3}7',string)

['949', '630', '768', '370', '397']

In [51]:
# Match all person names(first and last name) whose phone number starts with odd number

re.findall(r'(.+? .+?)\t\(\d{3}\)\s([13579]\d{2}-\d{4})',string)

[('Jenna Peterson', '554-9561'),
 ('Taniyah Lucas', '304-4647'),
 ('Maritza Ramos', '931-1193'),
 ('Oliver Cooper', '965-9749'),
 ('Alexis Rowe', '540-2991'),
 ('Riya Foster', '532-0795'),
 ('Josie Lloyd', '509-5720'),
 ('Zion Strickland', '372-0040'),
 ('Sasha Duncan', '596-5662'),
 ('Sidney Mcdaniel', '705-9254'),
 ('Kyla Waters', '523-8400'),
 ('Paloma Tyler', '788-9820'),
 ('Carolyn Peck', '309-5141'),
 ('Harold Stark', '575-6794'),
 ('Giovani Hill', '512-3285'),
 ('Lorelei Chase', '510-6364'),
 ('Anabella Wolf', '917-1457'),
 ('Charles Santiago', '306-7622'),
 ('Eva Galvan', '732-4963')]

In [52]:
# Only Name whose phone number starts with odd number
re.findall(r'(.+? .+?)\t\(\d{3}\)\s(?:[13579]\d{2}-\d{4})',string)

['Jenna Peterson',
 'Taniyah Lucas',
 'Maritza Ramos',
 'Oliver Cooper',
 'Alexis Rowe',
 'Riya Foster',
 'Josie Lloyd',
 'Zion Strickland',
 'Sasha Duncan',
 'Sidney Mcdaniel',
 'Kyla Waters',
 'Paloma Tyler',
 'Carolyn Peck',
 'Harold Stark',
 'Giovani Hill',
 'Lorelei Chase',
 'Anabella Wolf',
 'Charles Santiago',
 'Eva Galvan']

In [56]:
# First name for those whose area code less than 300

re.findall(r'(.+?) (?:.+?)\t\([0-2]\d{2}\)',string)

['Moriah', 'Maritza', 'Shelby', 'Scarlett']

In [64]:
 re.findall(r"(.+) .+[aeiou]\t\(\d{3}\) .{7}[079]", string)

['Ismael']